<% provide(:title, "Update Participant") %>
<h1>Update participant</h1>

<%= render 'form' %>

<%= link_to 'Show', @participant %> |
<%= link_to 'New', new_participant_path %> |
<%= link_to 'Show All', participants_path %>
