<div class="live-top"></div>
<div class="game-cell">
   <div class="teamInfo_top">
    <div class="teamLogo"></div>
    <div class="teamSeed">(1)</div>
    <div class="teamName">Purdue</div>
    <div class="teamScore">68</div>
  </div>
  <div class="teamInfo_bottom">
    <div class="teamLogo"></div>
    <div class="teamSeed">(16)</div>
    <div class="teamName">Indiana</div>
    <div class="teamScore">67</div>
  </div>
</div>
<div class="live-bottom"></div>
