<div align='center' class='page-header' style='padding-top:5px;padding-bottom:15px;'>
  <% if Result.exists? %>
    <%= Result.last.updated_at.strftime('Last updated: %m/%d/%Y at %I:%M %p') %>
  <% end %>
  <span style='padding-left:20px;'><%= link_to 'Refresh', path, class: 'btn btn-default btn-primary' %></span>
</div>
