<% provide(:title, "Bracket") %>
<%= stylesheet_link_tag 'bracket' %>
<div id='main'>
  <div class="content">
     <div class="clearfix"></div>
     <div style="width:990px;position:relative;" class="bracketParent grid34" >
        <div id="bracket" class="bracket-games topGames16">
          <!-- loop through each game here -->
           <div id="section21" class="ltr" style="position:relative; width:495px; height:537px;  float:left;"  >
              <span class="regionHeadingTop">Midwest</span>
              <div class="column1 round  " style="width:165px;">
                 <div class="roundTitle">
                    <span class="rBar"></span>
                    <span class="rTitle">Second Round</span>
                 </div>
                 <div id="game201" class="gameSet  game-xs "style="margin-bottom:10px;margin-top:0px;" >
                    <%= render 'game' %>
                 </div>
                 <div id="game202" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                      <!-- check if the bracket_position_id matches -->
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <!-- end if -->
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game203" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game204" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game205" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game206" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game207" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game208" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
              </div>
              <div class="column2 round  " style="width:82px;">
                 <div class="roundTitle">
                    <span class="rBar"></span>
                    <span class="rTitle">Third Round</span>
                 </div>
                 <div id="game301" class="gameSet  game-xs "style="margin-bottom:68px;margin-top:29px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game302" class="gameSet  game-xs "style="margin-bottom:68px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game303" class="gameSet  game-xs "style="margin-bottom:68px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game304" class="gameSet  game-xs "style="margin-bottom:68px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
              </div>
              <div class="column3 round  " style="width:82px;">
                 <div class="roundTitle">
                    <span class="rBar"></span>
                    <span class="rTitle">Sweet Sixteen</span>
                 </div>
                 <div id="game401" class="gameSet  game-xs "style="margin-bottom:181px;margin-top:88px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game402" class="gameSet  game-xs "style="margin-bottom:181px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
              </div>
              <div class="column4 round  " style="width:165px;gameset-css:88;column-css:207;">
                 <div class="roundTitle">
                    <span class="rBar"></span>
                    <span class="rTitle">Elite Eight</span>
                 </div>
                 <div id="game501" class="gameSet  game-xs "style="margin-bottom:88px;margin-top:207px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
              </div>
           </div>
           <div id="section23" class="rtl" style="position:relative; width:495px; height:537px;  float:right; "  >
              <span class="regionHeadingTop">South</span>
              <div class="column1 round  " style="width:165px;">
                 <div class="roundTitle"><span class="rBar"></span><span class="rTitle">Second Round</span></div>
                 <div id="game217" class="gameSet  game-xs "style="margin-bottom:10px;margin-top:0px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game218" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game219" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game220" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game221" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game222" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game223" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game224" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
              </div>
              <div class="column2 round  " style="width:82px;">
                 <div class="roundTitle">
                    <span class="rBar"></span>
                    <span class="rTitle">Third Round</span>
                 </div>
                 <div id="game309" class="gameSet  game-xs "style="margin-bottom:68px;margin-top:29px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game310" class="gameSet  game-xs "style="margin-bottom:68px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game311" class="gameSet  game-xs "style="margin-bottom:68px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game312" class="gameSet  game-xs "style="margin-bottom:68px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
              </div>
              <div class="column3 round  " style="width:82px;">
                 <div class="roundTitle">
                    <span class="rBar"></span>
                    <span class="rTitle">Sweet Sixteen</span>
                 </div>
                 <div id="game405" class="gameSet  game-xs "style="margin-bottom:181px;margin-top:88px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game406" class="gameSet  game-xs "style="margin-bottom:181px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
              </div>
              <div class="column4 round  " style="width:165px;gameset-css:88;column-css:207;">
                 <div class="roundTitle">
                    <span class="rBar"></span>
                    <span class="rTitle">Elite Eight</span>
                 </div>
                 <div id="game503" class="gameSet  game-xs "style="margin-bottom:88px;margin-top:207px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
              </div>
           </div>
           <div id="section32" class="ltr" style="position:relative; width:596px; height:120px!important;  float:left; clear:both; margin-left:196px;margin-top:-65px!important;margin-bottom:37px;padding-left:12px;padding-right:4px;"  >
              <span class="sectionHeading">Final Four</span>
              <div class="column1 round  " style="width:189px">
                 <div id="game601" class="gameSet  game-sm "style="margin-bottom:0px;margin-top:25px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
              </div>
              <div class="column2 round  championship" style="width:212px">
                 <div id="game701" class="gameSet  game-lg isChamp "style="margin-bottom:0px;margin-top:33px" >
                    <span class="specialText">National Championship</span>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="bracket-champ" class="champ">
                    <div class="champ-title">National Champion</div>
                    <div id="champDisp" class="champion"></div>
                 </div>
              </div>
              <div class="column3 round  last" style="width:189px">
                 <div id="game602" class="gameSet  game-sm "style="margin-bottom:0px;margin-top:-55px;margin-left:7px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
              </div>
           </div>
           <div id="section41" class="ltr" style="top:-45px; position:relative; width:495px; height:472px; float:left;"  >
              <span class="regionHeadingBottom">West</span>
              <div class="column1 round  " style="width:165px;">
                 <div id="game209" class="gameSet  game-xs "style="margin-bottom:10px;margin-top:0px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game210" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game211" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game212" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game213" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game214" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game215" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game216" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
              </div>
              <div class="column2 round  " style="width:82px;">
                 <div id="game305" class="gameSet  game-xs "style="margin-bottom:68px;margin-top:29px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game306" class="gameSet  game-xs "style="margin-bottom:68px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game307" class="gameSet  game-xs "style="margin-bottom:68px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game308" class="gameSet  game-xs "style="margin-bottom:68px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
              </div>
              <div class="column3 round  " style="width:82px;">
                 <div id="game403" class="gameSet  game-xs "style="margin-bottom:181px;margin-top:88px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game404" class="gameSet  game-xs "style="margin-bottom:181px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
              </div>
              <div class="column4 round  " style="width:165px;gameset-css:88;column-css:207;">
                 <div id="game502" class="gameSet  game-xs "style="margin-bottom:88px;margin-top:207px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
              </div>
           </div>
           <div id="section43" class="rtl" style="top:-45px; position:relative; width:495px; height:472px; float:right; "  >
              <span class="regionHeadingBottom">East</span>
              <div class="column1 round  " style="width:165px;">
                 <div id="game225" class="gameSet  game-xs "style="margin-bottom:10px;margin-top:0px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game226" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game227" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game228" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game229" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game230" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game231" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game232" class="gameSet  game-xs "style="margin-bottom:10px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
              </div>
              <div class="column2 round  " style="width:82px;">
                 <div id="game313" class="gameSet  game-xs "style="margin-bottom:68px;margin-top:29px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game314" class="gameSet  game-xs "style="margin-bottom:68px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game315" class="gameSet  game-xs "style="margin-bottom:68px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game316" class="gameSet  game-xs "style="margin-bottom:68px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
              </div>
              <div class="column3 round  " style="width:82px;">
                 <div id="game407" class="gameSet  game-xs "style="margin-bottom:181px;margin-top:88px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
                 <div id="game408" class="gameSet  game-xs "style="margin-bottom:181px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
              </div>
              <div class="column4 round  " style="width:165px;gameset-css:88;column-css:207;">
                 <div id="game504" class="gameSet  game-xs "style="margin-bottom:88px;margin-top:207px;" >
                    <div class="live-top"></div>
                    <div class="game-cell">
                       <div class="teamInfo_top">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                       <div class="teamInfo_bottom">
                          <div class="teamLogo"></div>
                          <div class="teamSeed"></div>
                          <div class="teamName"></div>
                          <div class="teamScore"></div>
                       </div>
                    </div>
                    <div class="live-bottom"></div>
                 </div>
              </div>
           </div>
           <div class="clear"></div>
           <span class="logo"></span>
           <!-- end loop -->
        </div>
     </div>
     <div id="bracket_popup">
        <div id="popup_team1">
           <div id="popup_team1_logo"></div>
           <div id="popup_team1_rank_name"></div>
           <div id="popup_team1_stat"></div>
           <div id="popup_team1_radio"></div>
           <div id="popup_team1_score"></div>
        </div>
        <div id="popup_game_details">
           <div id="popup_game_date"></div>
           <div id="popup_game_time"></div>
           <div id="popup_game_network"></div>
           <div id="popup_game_round"></div>
        </div>
        <div id="popup_team2">
           <div id="popup_team2_logo"></div>
           <div id="popup_team2_rank_name"></div>
           <div id="popup_team2_stat"></div>
           <div id="popup_team2_radio"></div>
           <div id="popup_team2_score"></div>
        </div>
        <a href="#" id="popup_first_link" class="popup_gamecenter"></a>
        <a href="#" id="popup_middle_link" class="popup_preview"></a>
        <a href="#" id="popup_last_link" class="popup_gamecenter"></a>
        <a href="#" id="popup_close">Close</a>
     </div>
  </div>
</div>
