@import "bootstrap";

.body {
  background-image:url('bballCourt.jpg');
}

.container {
  width: 1000px !important;
  margin-top: 15px;
  padding-bottom: 10px;
  background:white;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}

.pageHeaderLcl {
  background-color: gainsboro !important;
  margin-top: -3px !important;
  padding-bottom: 0px !important;
  -moz-border-radius:5px 5px 0px 0px;
  -webkit-border-radius:5px 5px 0px 0px;
  border-radius:5px 5px 0px 0px;
}

/* GRID */
.gridTable {
  border: 1px solid #ddd;
}

.gridHeaderRow {
  font-size: xx-large;
  text-align: center;
}
.gridDigitsHeaderRow {
  text-align: center;
}

.gridLoserColumn {
  font-weight: bold;
}

.gridSquare {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  font-size: 10px;
  text-align: center;
  width: 95px;
}
