@import "bootstrap";

.body {
  background-image:url('bballCourt.jpg');
}

.container {
  width: 1000px !important;
  height: 1065px;
  margin-top: 15px;
  /*padding-top: 5px;*/
  background:white;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}