<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Results", root_path %></li>
          <li><%= link_to "Bracket", bracket_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
