<nav class='top-bar' data-topbar>
  <ul class='title-area'>
    <li class='name'>
      <h1><%= link_to 'March Madness', controller: 'pages', action: 'results', year: $year %></h1>
    </li>
  </ul>
  <section class='top-bar-section'>
    <!-- Right Nav Section -->
    <ul class='right'>
      <li><%= link_to 'Results', controller: 'pages', action: 'results', year: $year %></li>
      <li class='divider' />
      <li><%= link_to 'Bracket', bracket_path %></li>
      <li class='divider' />
      <li><%= link_to 'Grid', grid_path %></li>
    </ul>
  </section>
</nav>
